/* Navbar */
#navbar .logo{
   float: none;
   text-align: center;
}

#navbar ul,#navbar ul li{
   float: none;
   
}
#navbar ul li a{
   padding: 5px;
   border-bottom: #444 dotted 1px;
}
/* Our Locations */
#cities .cities-content {
   float:none;
   width: 100%;
}
#cities .cities-img1 {
   display: none;
}
#cities .cities-img2 {
   display: none;
}
#cities .cities-img3 {
   display: none;
}

/* Home Info */
#home-info .info-img{
   display: none;
}
#home-info .info-content{
   float:none;
   width: 100%;
}
/* Boxes */
.box{
   float:none;
   width: 100%;
}
/* About Info */

#about-info .info-left,#about-info .info-right{
float:none;
width: 100%;
}
#about-info .info-right{
   margin-top: 30px;
}
.l-heading{
text-align: center;
}
#contact-info .box{
   border-bottom: #444 dotted 1px;
}